.popup-title {
  font-family: Roboto;
  font-size: 1.375rem;
  font-weight: 500;
  color: #3c4858;
  text-align: center;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 50px;

  span {
    display: block;
  }
}



