<form [formGroup]="form" class="signin-form" *ngIf="key">
  <h2 class="signin-form-title">{{'restore.restorePass' | translate}}</h2>
  <div class="form-group signin-from-group">
    <div class="e-input-find m-margin-input">
      <mat-form-field class="w-100">
        <input matInput formControlName="password" type="password"
               (keyup)="confirmPass($event, 'confirmPassword')"
               placeholder="{{'restore.newPass' | translate}}">
        <mat-error *ngIf="form.get('password').hasError('required')">
          {{'restore.newPass' | translate}} <strong>{{'restore.required' | translate}}</strong>
        </mat-error>
        <mat-error *ngIf="form.get('password').hasError('pattern')">
          {{'restore.invalidPass' | translate}}
        </mat-error>
        <mat-error *ngIf="form.get('password').hasError('minlength')">
          {{'login.errShortPass' | translate}}
        </mat-error>
        <mat-error *ngIf="form.get('password').hasError('maxlength')">
          {{'login.errLongPass' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="e-input-find">
      <mat-form-field class="w-100">
        <input matInput formControlName="confirmPassword" type="password" (keyup)="confirmPass($event, 'password')"
               placeholder="{{'signup.repeatPass' | translate}}">
        <mat-error *ngIf="form.get('confirmPassword').invalid">
          {{'signup.notMatchPass' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex pt-2">
    <button class="b2b-btn b2b-btn--medium"
            mat-raised-button
            [disabled]="loading || form.get('confirmPassword').invalid"
            (click)="onUpdatePasswordClick()">{{'restore.restoreSend' | translate}}
    </button>
  </div>
  <div class="form-error" *ngIf="formError">
    <div class="form-error-text">{{'restore.restoreErrTitle' | translate}}!: {{formError}}</div>
  </div>
</form>
